@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@400;500;700&display=swap');



/* -=================================================================- */
/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --primary-color: #4717F7;
    --accent-color: #A43ACB;
    --text-color: #E9DFE0;
    --container-color: #1A132C;
    --body-color: #000000;
    /* ================= */
    /* == FONT & TYPOGRAPHY == */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Oswald', sans-serif;
    --biggest-font: 2.7rem;
    --big-font-size: 2.5rem;
    --title-font-size: 2.3rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ================= */
    /* =========Z INDEX======== */
    --z-fixed: 10;
    /* ================= */

    --transition-time: .45s;
}

/* == RESPONSIVE FONT & TYPOGRAPHY == */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --big-font-size: 3.2rem;
      --title-size: 2.7rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
/* -=================================================================- */

/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* -================================= REUSABLE CSS CLASSES ================================- */
.container{
    max-width: 968px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.section{
    position: relative;
    padding: 5rem 0 1rem;
    overflow-x: hidden;
}

.section__title{
    font-size: var(--title-font-size);
    font-weight: var(--font-bold);
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}

.section__subtitle{
    font-size: var(--h3-font-size);
}

.description{
    font-size: var(--normal-font-size);
}

.gradient{
  background: linear-gradient(to right, var(--primary-color), var(--accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


header{
    position: fixed;
    z-index: var(--z-fixed);
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    background-color: var(--body-color);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: var(--h3-font-size);
}

.nav .description{
    text-align: center;
}

.projects{
    padding-top: 8rem;
}

.underline{
    content: "";
    position: relative;
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
    margin-bottom: 2.5rem;
}

.projects__title{
    text-align: center;
    font-size: var(--h2-font-size);
}

.projects__container{
    display: grid;
    gap: 2.5rem;
    width: 100%;
    height: max-content;
    padding: 1.5rem 0;
    justify-content: center;
}

.project__box{
    width: 100%;
    max-width: 500px;
    height: max-content;
    background-color: var(--container-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: .3rem;
}

.project__img{
    height: 75px;
    width: 75px;
}

.project__info{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.project__info{
    color: var(--text-color);
}

.project__name{
    font-size: var(--h3-font-size);
}

.project__info a{
    color: var(--accent-color);
    font-size: var(--small-font-size);
}

/* RESPONSIVE CSS */

@media screen and (min-width: 300px){
    .container{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 700px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .projects__container{
        grid-template-columns: repeat(2, 1fr);
    }
}