@import url(/assets/Components/styles.css);


/* HOME SECTION================================================================================- */
.home{
    height: 100vh;
    color: var(--text-color-w);
}

.home-container{
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: var(--mar-1);
}

.home-logo-container{
    position: relative;
    height: 160px;
    width: 128px;
}

.home-logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-title{
    text-align: center;
    font-size: var(--big-font-size);
    font-weight: var(--font-light);
}

.home-title span{
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.home-subtitle{
    font-weight: var(--font-medium);
    text-align: center;
}

.home-buttons-container{
    gap: var(--mar-1);
}

.home-buttons-container > a{
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--mar-1);
    border-radius: var(--border-radius);
    transition: all .4s ease-in-out;
}

.home-button-primary{
    background-color: var(--body-color-alt);
}

.home-button-primary p{
    font-weight: var(--font-medium);
    color: var(--text-color-w);
}

.home-button-primary i{
    font-size: var(--mar-2);
    color: var(--primary-color);
}

.home-button-secondary{
    background-color: var(--body-color);
}

.home-button-secondary p{
    color: var(--text-color-b);
}

.home-background-image{
    top: -300px;
    height: 110%;
}
/*-============================================================================================- */

/* GALLERY SECTION=============================================================================- */
.gallery-container{
    gap: var(--mar-3);
}

.gallery-card{
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}

.gallery-card-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
}

.gallery-card-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: #1953617a;
    display: flex;
    align-items: center;
    padding-left: var(--mar-1);
    color: var(--text-color-w);
    gap: var(--mar-1);
}

.gallery-card-info-title{
    color: var(--text-color-w);
}

.gallery-card-info:hover .gallery-card-info-title{
    font-weight: var(--font-bold);
}

.gallery-swiper-buttons{
    gap: var(--mar-1);
}

.gallery-swiper-buttons{
    display: none;
}

.gallery-swiper-buttons > button{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color-b);
    border-radius: var(--border-radius);
    font-size: var(--icon-size-small);
}

.gallery-grid-group{
    gap: var(--mar-3);
}

.gallery-grid-group-image-container{
    position: relative;
    height: 480px;
    width: 100%;
}

.gallery-main-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.gallery-info-group{
    gap: var(--mar-1);
}

.gallery-info-group-subtitle{
    font-weight: var(--font-light);
}

.gallery-info-group-title span{
    color: var(--primary-color);
}

.gallery-info-group-button{
    background-color: var(--body-color-alt);
}

.gallery-info-group-button p{
    color: var(--text-color-w);
}

.gallery-grid-group-image-container-secondary{
    position: relative;
    width: 100%;
    height: 272px;
}
/*-============================================================================================- */

/* FEATURES SECTION============================================================================- */
.features-container{
    gap: var(--mar-4);
}

.feature-card{
    position: relative;
    width: 100%;
    height: 448px;
    overflow: hidden;
}

.feature-card-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.feature-card-info{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 207px;
    height: 64px;
    background-color: #1953617a;
    padding-right: var(--mar-1);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--text-color-w);
}

.feature-card-info-title{
    font-weight: var(--font-light);
}

.feature-background{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    background-color: var(--body-color-alt);
}

.feature-buttons-container{
    gap: var(--mar-3);
}

.feature-swiper-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--mar-1);
}

.feature-prev,
.feature-next{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color-w);
    border-radius: var(--border-radius);
    font-size: var(--icon-size-small);
    color: var(--text-color-w);
}

.feature-buttons{
    gap: var(--mar-1);
}

.feature-buttons .primary-button{
    background-color: var(--body-color);
}

.feature-buttons .secondary-button{
    background-color: var(--container-color);
}

.feature-buttons .primary-button p{
    color: var(--text-color-b);
}

.feature-buttons .secondary-button p{
    color: var(--text-color-w);
}
/*-============================================================================================- */

/* TIMELINE SECTION============================================================================- */
.timeline{
    position: relative;
    padding-bottom: 2rem;
}

.timeline-container{
    position: relative;
    gap: var(--mar-3);
}

.timeline-cards-container-mobile{
    gap: 0;
    padding-bottom: 6rem;
}

.timeline-card-mobile{
    position: relative;
    display: flex;
}

.progress-bar-container{
    position: relative;
    width: 32px;
    height: 100%;
}

.progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--accent-color);
}

.timeline-card-mobile-info{
    gap: var(--mar-1);
    align-self: flex-end;
    padding-left: var(--mar-3);
    padding-bottom: var(--mar-3);
}

.sml-line{
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 10px;
    background-color: var(--accent-color);
}

.sticky-container{
    display: none;
    position: sticky;
    top: 50%;
    overflow: hidden;
    /* margin-top: 8rem; */
    flex-direction: column;
    gap: 5rem;
    transition: all .4s ease-in-out;
}

.sticky-container.active{
    transform: translateY(-50%);
}

.timeline-overflow-container{
    padding-left: 50%;
    padding-bottom: var(--mar-1);
    height: max-content;
    width: max-content;
    /* background-color: red; */
    /* border-bottom: 8px solid var(--primary-color); */
    display: flex;
}

.timeline-card{
    position: relative;
    gap: var(--mar-1);
    height: 250px;
    width: 332px;
    padding-right: var(--mar-3);
}

.timeline-card-title{
    position: relative;
    font-weight: var(--font-light);
}

.timeline-card-description{
    font-weight: var(--font-medium);
}

.timeline-line-alt{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 4px;
    background-color: var(--accent-color);
}

.timeline-line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
}

.l-2{
    height: 80px;
}

.l-4{
    height: 20px;
}


.timeline-spacer{
    display: none;
    height: 1884px;
    /* background-color: blue; */
}
/*-============================================================================================- */






@media screen and (min-width: 1024px){

    .gallery-header{
        justify-content: space-between;
    }

    .gallery-swiper-buttons{
        display: flex;
        align-items: center;
    }

    .gallery-grid-group{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(480px, 1fr);
    }

    .gallery-grid-group-image-container{
        grid-column: span 2;
    }

    .gallery-grid-group{
        align-items: center;
    }

    .feature-buttons-container{
        justify-content: space-between;
    }

    .feature-buttons{
        align-self: flex-start;
    }

    .timeline-title-mobile{
        display: none;
    }

    .timeline-cards-container-mobile{
        display: none;
    }

    .sticky-container{
        display: flex;
    }

    .timeline-spacer{
        display: block;
    }

}