/* Root CSS for Heritage-coffee */

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
/* -=================================================================- */
/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --primary-color: #C29D3E;
    --accent-color: #294841;
    --text-color-w: #E0E0E0;
    --text-color-b: #333333;
    --container-color: #333333;
    --body-color: #f5e7d5;
    /* ================= */
    /* == FONT & TYPOGRAPHY == */
    --body-font: "Yanone Kaffeesatz", sans-serif;
    --title-font: "Yanone Kaffeesatz", sans-serif;

    --big-font-size: 4.5rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ================= */

    /* =========Z INDEX======== */
    --z-fixed: 10;
    --border-radius: 1rem;
    /* ================= */

}


/* -=================================================================- */

/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1{
    font-size: var(--h1-font-size);	
}

h2{
    font-size: var(--h2-font-size);	
}

h3{
    font-size: var(--h3-font-size);	
}

h4{
    font-size: var(--h4-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    border: none;
}

/* -================================= REUSABLE CSS CLASSES ================================- */
.container{
    max-width: 968px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding: 6rem 0;
    overflow-x: hidden;
}

.section-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    font-family: var(--title-font);
}

.section-subtitle{
    font-size: var(--h3-font-size);
}

.description{
    font-size: var(--h4-font-size);
    font-weight: var(--font-regular);
}

.align-self{
    display: flex;
    flex-direction: column;
}

/* -======= BUTTONS ========- */

/* -=================================================================- */

/* -================================= HEADER & NAVIGATION ================================- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: var(--transition-time);
    padding: .5rem 0;
}

.nav{
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: var(--z-fixed);
}

.nav__logo{
    margin-top: 1rem;
}

.logo{
    width: 150px;
}

.nav__link span{
    font-size: 1.25rem;
}

.scroll-header{
    height: max-content;
    transition: .3s;
}

.active-link,
.active-link i,
.active-link span{
    color: var(--primary-color);
}

/* -================================= MOBILE NAVIGATION CSS ================================- */
@media screen and (max-width: 1023px){

    .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: max-content;
    }

    .nav__menu{
        position: fixed;
        bottom: 2rem;
        background-color: var(--accent-color);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        width: 90%;
        max-width: 500px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.8rem 2.8rem;
        border-radius: 1rem 0 1rem 0;
        box-shadow: 0 16px 8px rgba(0, 0, 0, 0.3);
    }

    .nav__logo{
        text-align: center;
    }

    .nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__link{
        color: var(--text-color-white);
        font-weight: var(--font-medium);
        display: grid;
        justify-items: center;
        row-gap: .25rem;
    }

    .nav-icon{
        height: 32px;
        width: 32px;
        object-fit: cover;
    }

    .nav__link i{
        font-size: 1.5rem;
    }

    .nav__link span{
        display: none;
    }
}
/* -================================= DESKTOP NAVIGATION CSS ================================- */
@media screen and (min-width: 1024px){

    .nav__logo{
        font-size: 1.8rem;
    }

    .nav__menu{
        width: initial;
        margin-left: auto;
    }

    .nav__list{
        display: flex;
        column-gap: 3rem;
    }

    .nav__link i{
        display: none;
    }

    .nav__link{
        color: var(--text-color-white);
        transition: var(--transition-time);
    }

    .nav__link span{
        font-size: var(--normal-font-size);
        font-weight: 300;
        font-family: var(--body-font);
        display: contents;
    }

    .nav__link:hover{
        color: var(--accent-color);
    }

}
/* -======================================================================================- */


/* -================================= HOME SECTION ================================- */
.home{
    color: var(--text-color-w);
}
.home-container{
    gap: 2rem;
    padding-top: 12rem;
}

.home-title{
    font-size: var(--big-font-size);
}

.home-info-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-button{
    display: grid;
    place-items: center;
    width: 241px;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 1rem 0 1rem 0;
}

.home-responsive-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-button h2{
    color: var(--text-color-w);
}

.home-hours-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.home-hours-line{
    content: '';
    width: 2px;
    height: 48px;
    background-color: var(--text-color-w);
}

.home-hours-description{
    font-size: var(--h4-font-size);
}

.home-buttons-container{
    display: flex;
    gap: 1rem;
}

.home-button-2{
    display: grid;
    place-items: center;
    width: 154px;
    height: 64px;
    background-color: var(--accent-color);
    border-radius: 0 1rem 0 1rem;
}

.home-button-2 h3{
    color: var(--text-color-w);
}

.home-button-3{
    width: 86px;
    height: 64px;
    display: grid;
    place-items: center;
    background-color: var(--container-color);
    border-radius: 1rem 0 1rem 0;
}

.home-background-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
/* -============================================================================- */


/* -================================= ABOUT SECTION ================================- */
.about-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--text-color-b);
    margin-bottom: 4rem;
}

.about-responsive-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.about-box-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-title-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.about-title{
    color: var(--accent-color);
}

.about-title-line{
    content: '';
    width: 150px;
    height: 2px;
    border-bottom: 2px dashed var(--container-color);
}

.about-image-container{
    position: relative;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.about-parallax-1,
.about-parallax-2{
    position: absolute;
}

.about-parallax-1{
    width: 170px;
    height: 431px;
    bottom: 0;
    left: 0;
}

.about-parallax-2{
    top: 0;
    right: 0;
    width: 137px;
    height: 474px;
}

.about-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-title-alt{
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 2rem;
}

.about-title-alt span{
    color: var(--primary-color);
}

.about-card{
    gap: 1rem;
    width: 100%;
    height: max-content;
}

.about-card-img{
    width: 100%;
    height: 396px;
    border-radius: 0 1rem 0 1rem;
    object-fit: cover;
}

.about-card-info{
    width: 100%;
    height: 80px;
    background-color: var(--accent-color);
    color: var(--text-color-w);
    border-radius: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.about-cards-nav{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.about-card-nav-button{
    height: 64px;
    width: 64px;
    display: grid;
    place-items: center;
    background-color: var(--accent-color);
    border-radius: var(--border-radius);
}

.about-prev{
    background-color: var(--container-color);
}
/* -============================================================================- */


/* -================================= MENU SECTION ================================- */
.menu-container{
    gap: 2rem;
}

.menu-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu-title-line{
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed var(--container-color);
}

.menu-title{
    text-align: center;
    font-size: var(--h1-font-size);
    color: var(--accent-color);
}

.menu-title span{
    color: var(--primary-color);
}

.menu-cards-container{
    gap: 2rem;
}

.menu-cards-container > .menu-card:first-child{
    background-color: var(--accent-color);
}

.menu-card{
    width: 323px;
    height: max-content;
    gap: 1rem;
    background-color: var(--container-color);
    padding: 3rem 1rem;
    border-radius: 0 1rem 0 1rem;
    color: var(--text-color-w);
}

.menu-card-title{
    text-align: center;
}

.menu-line{
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 2px dashed var(--text-color-w);
    margin-bottom: 1rem;
}

.menu-items-list{
    gap: 1rem;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* -============================================================================- */


/* -================================= SECTION 4 ================================- */
/* -============================================================================- */

/* -================================= FOOTER ================================- */
/* -=========================================================================- */



/* -================================= CSS BREAKPOINTS ================================- */
/* -==================================================================================- */
