@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* VARIABLE CSS================================================================================- */
/*-============================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #8B2E2E;
    --accent-color: #B55B4B;
    --text-color-w: #F7F5F2;
    --text-color-b: #2E2E2E;
    --container-color: #4B6B4A;
    --container-color-alt: #D1A05F;
    --body-color: #F3F0EB;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Open sans', sans-serif;
    --title-font : 'Pacifico', cursive;
    --etx-font: 'Montserrat', sans-serif;

    --h1-font-size: 5.61rem;
    --h2-font-size: 4.209rem;
    --h3-font-size: 3.157rem;
    --h4-font-size: 2.369rem;
    --h5-font-size: 1.777rem;
    --h6-font-size: 1.333rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-black: 900;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --gap-1: 1rem; /*---------------16px*/

    --gap-2: 1.5rem; /*-------------24px*/

    --gap-3: 2rem; /*---------------32px*/

    --gap-4: 3rem; /*---------------48px*/

    --gap-5: 4rem; /*---------------64px*/

    --gap-6: 5rem; /*---------------80px*/

    --gap-7: 8rem; /*--------------128px*/
    /* ======================= */


    /* COLUMN WIDTHS ========= */
    --col-1: 72px;
    --col-2: 167px;
    --col-3: 263px;
    --col-4: 358px;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

h5{
    font-size: var(--h5-font-size);
}

h6{
    font-size: var(--h6-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}
/*-============================================================================================- */

/* RESPONSIVE BREAKPOINTS======================================================================- */

/* FOR SML MOBILE */
@media screen and (max-width : 389px){
    .container{
        max-width: 288px;
        margin: 0 auto;
    }

    :root{
        --col-1: 60px;
        --col-2: 136px;
        --col-3: 212px;
        --col-4: 288px;
    }
}

/* FOR MOBILE */
@media screen and (min-width: 390px){
    .container{
        max-width: 358px;
        margin: 0 auto;
    }

    .desktop{
        display: none;
    }
}

/* FOR TABLET */
@media screen and (min-width: 744px){
    .container{
        max-width: 680px;
        margin: 0 auto;
    }

    :root{
        --col-1: 64px;
        --col-2: 152px;
        --col-3: 240px;
        --col-4: 328px;
        --col-5: 416px;
        --col-6: 504px;
        --col-7: 592px;
        --col-8: 680px;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1100px){
    .container{
        max-width: 1080px;
        margin: 0 auto;
    }

    :root{
        --col-1: 68px;
        --col-2: 160px;
        --col-3: 252px;
        --col-4: 344px;
        --col-5: 436px;
        --col-6: 528px;
        --col-7: 620px;
        --col-8: 712px;
        --col-9: 804px;
        --col-10: 896px;
        --col-11: 988px;
        --col-12: 1080px;
    }
}
/*-============================================================================================- */

/*-REUSABLE CSS CLASSES========================================================================- */
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding-bottom: 8rem;
}

.section-title{
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    color: var(--text-color-b);
}

.section-title span{
    color: var(--accent-color);
}

.p-text{
    font-size: var(--h6-font-size);
    font-weight: var(--font-semi-bold);
}

.section-accent{
    width: var(--col-2);
    height: 48px;
    border-radius: var(--gap-2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container-color);
    color: var(--text-color-w);
}

.section-accent p{
    font-weight: var(--font-bold);
}

.transition{
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* CSS COMPONENTS =============================================================================- */

/* BUTTONS */
.button{
    height: 80px;
    width: var(--col-3);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button a {
    font-size: var(--h6-font-size);
    font-weight: var(--font-black);
    color: var(--text-color-w);
    font-family: var(--body-font);
    cursor: pointer;
}

.button:hover{
    background-color: var(--accent-color);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}
/* -------- */

/*-============================================================================================- */


/* HOME SECTION ===============================================================================- */
.home{
    background-color: var(--primary-color);
    color: var(--text-color-w);
    padding-bottom: 0;
}

.home-container{
    padding-top: var(--gap-4);
    justify-content: center;
}

.home-logo-container{
    position: relative;
    height: 80px;
    width: 80px;
    align-self: center;
}

.home-subtitle{
    text-align: center;
    font-size: var(--h6-font-size);
}

.home-title-img-container{
    height: 145px;
    width: 100%;
    position: relative;
}

.home-frame-one{
    gap: var(--gap-2);
    margin-bottom: var(--gap-4);
}

.home-button-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    align-self: center;
    margin-bottom: var(--gap-4);
}

.home-button{
    background-color: var(--container-color-alt);
}

.home-button-alt{
    border: 4px solid var(--text-color-w);
}

.home-img-container{
    width: var(--col-4);
    height: 344px;
    position: relative;
    border-radius: 32px;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 0 30px rgba(0, 0, 0, .75); 
}

.home-background-box{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 217px;
    content: '';
    background-color: var(--body-color);
}
/*-============================================================================================- */

/* SERVICES SECTION ====================================================================================- */
.services{
    padding-bottom: 0;
}

.services-container{
    padding-top: var(--gap-6);
    gap: var(--gap-6);
    color: var(--text-color-b);
}

.services-title{
    width: var(--col-3);
}

.services-frame-one{
    gap: var(--gap-2);
    flex-direction: column;
}

.services-section-accent{
    align-self: flex-end;
}

.service-cards-container{
    gap: var(--gap-4);
}

.service-card{
    gap: var(--gap-2);
    width: var(--col-4);
}

.service-card-frame-one{
    align-items: center;
    justify-content: space-between;
}

.service-card-frame-one h5{
    font-weight: var(--font-black);
    width: var(--col-3);
}

.service-card-icon{
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary-color);
}

.service-card-icon img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.service-card-img-container{
    position: relative;
    height: 264px;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.service-card-frame-two{
    width: 100%;
    padding: 24px 48px;
    background-color: #DEE3DE;
    border-radius: 32px;
}

.service-card-frame-two h6{
    font-weight: var(--font-semi-bold);
}

.services-frame-three{
    width: 100%;
    padding: 48px 24px;
    gap: 48px;
    background-color: var(--primary-color);
    border-radius: 32px;
    color: var(--text-color-w);
    text-align: center;
    z-index: 5;
}

.services-frame-three h4{
    font-weight: var(--font-black);
}

.services-frame-three h2{
    font-family: var(--title-font);
}

.services-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 259px;
    background-color: #DEE3DE;
}

.services-frame-three{
    gap: var(--gap-2);
}

.services-frame-three h2{
    font-size: var(--h2-font-size);
}
/*-============================================================================================- */

/* GALLERY SECTION ====================================================================================- */
.gallery{
    background-color: #DEE3DE;
    padding-bottom: 0;
}

.gallery-container{
    padding-top: var(--gap-7);
    gap: var(--gap-4);
    padding-bottom: 0;
}

.gallery-frame-one{
    flex-direction: column;
    gap: var(--gap-2);
}

.gallery-title{
    text-align: end;
}

.gallery-frame-two{
    flex-direction: column;
    gap: var(--gap-4);
    overflow: hidden;
}

.gallery-swiper-card{
    position: relative;
    width: var(--col-4);
    height: 420px;
    overflow: hidden;
    border-radius: 32px;
}

.gallery-frame-two-container{
    flex-direction: column;
    gap: var(--gap-2);
}

.gallery-frame-two-container ul{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: center;
}

.gallery-swiper-buttons{
    flex-direction: row;
    gap: var(--gap-2);
    align-items: center;
    align-self: center;
}

.gallery-swiper-buttons button{
    height: 68px;
    width: 68px;
    border-radius: 16px;
    transition: all .4s ease-in-out;
}

.gallery-swiper-buttons button:hover{
    transform: translateY(-12px);
}

.gallery-swiper-buttons button:active{
    background-color: var(--accent-color);
}

.gallery-slide-prev{
    border: 4px solid var(--text-color-b);
}

.gallery-slide-prev i{
    font-size: var(--gap-4);
    color: var(--text-color-b);
}

.gallery-slide-next{
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.gallery-slide-next i{
    font-size: var(--gap-4);
}

.gallery-pagination{
    position: relative;
    height: 48px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    width: max-content;
    margin: 0;
}

.swiper-horizontal{
    position: relative;
}

.swiper-pagination-bullet{
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    background-color: #2E2E2E;
    transition: all .4s ease-in-out;
    opacity: 1;
    margin: 0;
}

.swiper-pagination-bullet-active{
    height: 24px;
    width: 24px;
    background-color: var(--accent-color);
    border-radius: 4px;
    margin: 0;
}

.gallery-frame-three{
    position: relative;
    width: var(--col-4);
    height: 253px;
    border-radius: 32px;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.gallery-frame-three img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 119px;
    background-color: var(--body-color);
}
/*-============================================================================================- */

/* ABOUT SECTION ====================================================================================- */
.about{
    padding-bottom: var(--gap-6);
}

.about-container{
    padding-top: var(--gap-6);
    gap: var(--gap-4);
    color: var(--text-color-b);
}

.about-section-accent{
    align-self: flex-end;
}

.about-frame-one{
    flex-direction: column;
    gap: var(--gap-2);
}

.about-frame-two{
    flex-direction: column;
    gap: var(--gap-4);
}

.about-frame-two-container{
    padding: 0 var(--gap-2);
    gap: var(--gap-2);
}

.about-frame-two-container h4{
    font-weight: var(--font-black);
}

.about-frame-two-container h6{
    font-weight: var(--font-semi-bold);
}

.about-button{
    background-color: var(--container-color);
    align-self: center;
}

.about-frame-two .img-container{
    position: relative;
    height: 386px;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.map-container{
    position: relative;
    height: 386px;
    overflow: hidden;
    border-radius: 32px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.about-frame-two img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.faq-container{
    width: 100%;
    gap: var(--gap-4);
}

.faq-title{
    text-align: end;
    font-size: var(--h4-font-size);
    font-weight: var(--font-black);
}

.faq-list-container{
    gap: var(--gap-2);
}

.faq-list-item{
    padding: var(--gap-2) 8px;
    background-color: var(--text-color-b);
    color: var(--text-color-w);
    border-radius: 16px;
    gap: var(--gap-2);
    transition: all .4s ease-in-out;
}

.faq-list-item:hover{
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.list-item-header{
    flex-direction: column-reverse;
    gap: var(--gap-2);
}

.list-item-header h5{
    font-size: var(--h6-font-size);
}

.faq-toggle{
    height: 48px;
    width: 48px;
    background-color: var(--text-color-w);
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.4s ease-in-out; 
}

.faq-toggle:hover{
    transform: translateY(-12px);
}

.faq-toggle i{
    font-size: var(--gap-2);
    color: var(--text-color-b);
}

.faq-answer{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out; 
}

.faq-answer p{
    font-weight: var(--font-semi-bold);
}

.faq-list-item.active{
    background-color: var(--primary-color);
}

.faq-list-item.active .faq-answer{
    max-height: 150px;
    opacity: 1;
}

.faq-list-item.active .faq-toggle{
    transform: rotate(45deg);
}
/*-============================================================================================- */

/* CONTACT SECTION ====================================================================================- */
.contact{
    position: relative;
    padding-bottom: 0;
}

.contact-container{
    gap: var(--gap-4);
    color: var(--text-color-b);
}

.contact-frame-one{
    gap: var(--gap-4);
    text-align: center;
}

.contact-title{
    font-size: var(--h3-font-size);
}

.contact-frame-one h4{
    font-weight: var(--font-black);
}

.contact-button{
    background-color: var(--container-color);
    align-self: center;
}

.contact-img-container{
    position: relative;
    height: 344px;
    overflow: hidden;
    border-radius: 32px;
    z-index: 5;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.contact-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 119px;
    background-color: var(--primary-color);
}
/*-============================================================================================- */

/* FOOTER SECTION ====================================================================================- */
.footer{
    background-color: var(--primary-color);
    color: var(--text-color-w);
    padding-top: var(--gap-6);
}

.footer-container{
    gap: var(--gap-4);
}

.footer-frame-one{
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap-2);
}

.location{
    font-weight: var(--font-bold);
}

.footer-frame-two{
    align-items: center;
    justify-content: space-between;
}

.footer-logo-container-one,
.footer-logo-container-two{
    position: relative;
}

.footer-logo-container-one{
    width: var(--col-3);
    height: var(--gap-4);
}

.footer-logo-container-two{
    width: var(--col-1);
    height: var(--gap-4);
}

.footer-frame-three{
    flex-direction: column;
    gap: var(--gap-4);
}

.social-link{
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    gap: var(--gap-2);
}

.social-link p{
    font-size: var(--h5-font-size);
    font-weight: var(--font-black);
    color: var(--text-color-w);
}

.social-link i{
    font-size: var(--gap-4);
    color: var(--text-color-w);
}

.footer-signature{
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid var(--text-color-w);
    padding-top: var(--gap-2);
}

.footer-signature p{
    font-family: var(--etx-font);
    font-weight: var(--font-regular);
}

.footer-signature .img-container{
    position: relative;
    height: 24px;
    width: 28px;
}

.footer-signature img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer-signature .flex{
    align-items: center;
    gap: 8px;
}












/* RESPONSIVE BREAKPOINTS =====================================================================- */

/* SML SCREENS */
@media screen and (max-width : 389px){

}

/* TABLET */
@media screen and (min-width: 744px){

    /* REUSABLE CLASSES */
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    .section-title{
        font-size: var(--h1-font-size);
    }
    

    /* HOME SECTION */
    .home-subtitle{
        font-size: var(--h5-font-size);
    }

    .home-title-img-container{
        height: 109px;
    }

    .home-button-container{
        flex-direction: row;
    }

    .home-img-container{
        width: 100%;
        height: 447px;
    }

    /* SERVICES SECTION */
    .services-title{
        width: var(--col-6);
    }

    .service-cards-container{
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--gap-2);
    }

    .service-card-frame-two{
        min-height: 270px;
    }

    .services-frame-three{
        height: 439px;
        justify-content: center;
    }

    /* GALLERY SECTION */
    .gallery-frame-two-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .gallery-swiper-card{
        height: 400px;
    }

    .gallery-swiper-card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .gallery-pagination{
        position: relative;
        height: 24px;
    }

    .gallery-frame-three{
        width: 100%;
        height: 359px;
    }

    .gallery-background{
        height: 175px;
    }

    /* ABOUT SECTION */
    .about-frame-two-container{
        width: var(--col-6);
        align-self: center;
        gap: var(--gap-4);
        padding: 0 var(--gap-4);
    }

    .about-container{
        gap: var(--gap-6);
    }

    .about-frame-two .img-container{
        width: var(--col-6);
        height: 544px;
        align-self: center;
    }

    .about-button{
        align-self: flex-start;
    }

    .faq-container{
        background-color: #DEE3DE;
        border-radius: 32px;
        padding: var(--gap-6) 0;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    }

    .faq-title{
        max-width: var(--col-6);
        align-self: flex-end;
        margin-right: 88px;
        font-size: var(--h3-font-size);
    }

    .faq-list-item{
        width: var(--col-6);
        align-self: center;
        padding: var(--gap-4) var(--gap-2);
    }

    .list-item-header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list-item-header h5{
        font-size: var(--h5-font-size);
        max-width: 344px;
    }

    .faq-toggle{
        height: 64px;
        width: 64px;
    }

    .faq-toggle i{
        font-size: 2.5rem;
    }

    .faq-answer p{
        font-size: var(--h6-font-size);
        font-weight: var(--font-semi-bold);
    }

    /* CONTACT SECTION */
    .contact-img-container{
        height: 474px;
    }

    .contact-background{
        height: 210px;
    }

    /* FOOTER SECTION */
    .footer-container{
        gap: var(--gap-6);
    }

    .footer-frame-one{
        max-width: var(--col-6);
        align-self: center;
    }

    .location{
        font-size: var(--h6-font-size);
    }

    .footer-frame-two{
        justify-content: space-around;
    }

    .footer-logo-container-one{
        width: 430px;
        height: 70px;
    }

    .footer-logo-container-two{
        width: 80px;
        height: 80px;
    }

    .footer-frame-three{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .social-link{
        max-width: var(--col-4);
    }
}


/* DESKTOP */
@media screen and (min-width: 1100px){

    /* REUSABLE CLASSES */
    

    /* HOME SECTION */
    .home-logo-container{
        height: 128px;
        width: 128px;
    }

    .home-title-img-container{
        width: var(--col-10);
        margin: 0 auto;
    }

    /* SERVICES SECTION */
    .services-frame-one{
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .services-section-accent{
        align-self: center;
    }

    .service-card{
        width: var(--col-)6;
    }

    .service-card-img-container{
        height: 401px;
    }

    .service-card-frame-two{
        width: 100%;
        min-height: 212px;
    }

    .service-card-frame-one{
        margin: 0 var(--gap-2);
    }

    .service-card-frame-one h5{
        font-size: var(--h4-font-size);
        width: var(--col-4);
    }

    .service-card-icon{
        height: 80px;
        width: 80px;
    }

    /* GALLERY SECTION */
    .gallery-frame-three{
        height: 534px;
    }

    /* ABOUT SECTION */
    .about-frame-two{
        flex-direction: row;
        justify-content: space-between;
    }

    .about-frame-two .img-container{
        height: 570px;
        width: var(--col-6);
    }

    .faq-list-item{
        width: var(--col-10);
    }

    .list-item-header h5{
        max-width: var(--col-8);
    }

    .faq-answer p{
        max-width: var(--col-8);
    }

    /* CONTACT SECTION */
    .contact-img-container{
        height: 641px;
    }

    /* FOOTER SECTION */
    .footer-frame-one{
        max-width: var(--col-12);
    }

    .footer-frame-two{
        justify-content: space-evenly;
        max-width: var(--col-7);
        align-self: center;
        gap: var(--gap-3);
    }

    .social-link{
        max-width: var(--col-5);
        justify-content: space-evenly;
    }
}