@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* VARIABLE CSS================================================================================- */
/*-============================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #B2524D;
    --accent-color: #D9CAB3;
    --text-color-w: #F5F0ED;
    --text-color-b: #262626;
    --container-color: #262626;
    --body-color: #F5F0ED;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --mar-sml: .5rem;
    --mar-1: 1rem;
    --mar-2: 1.5rem;
    --mar-3: 2rem;
    --mar-4: 3rem;
    --mar-5: 4rem;

    --gap-1: 1rem;
    --gap-2: 1.5rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;

    --header-height: 3rem;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    --border-radius: 1rem;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{ 
    font-family: var(--body-font);
    background-color: var(--body-color);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    /* max-width: 100%; */
    /* height: auto; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* REUSABLE CSS CLASSES========================================================================- */
.container{
    max-width: 390px;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 389px){

    .container{
        max-width: 440px;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1023px){
    .container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 180px;
    }

    .responsive-container{
        flex-direction: row;
    }
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding-bottom: 8rem;
    overflow: hidden;
}

.section-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.section-subtitle{
    font-size: var(--h4-font-size);
    font-weight: var(--font-regular);
}

.p-text{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.transition{
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* GLOBAL COMPONENTS ==========================================================================- */

.button{
    height: 64px;
    width: 252px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.button p{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.button:hover{
    width:  284px;
}

.button:hover P{
    font-weight: var(--font-semi-bold);
}

.img-container{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.card-component-1{
    position: relative;
    height: 252px;
    width: 252px;
    border-radius: var(--border-radius);
    background-color: red;
    display: flex;
    align-items: flex-end;
    padding: var(--gap-1);
    overflow: hidden;
}

.card-component-1:hover img{
    scale: 1.1;
}

.card-component-1 p{
    z-index: 1;
    color: var(--text-color-w);
    font-weight: var(--font-medium)
}

.card-component-2{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.card-component-2 div{
    position: relative;
    max-width: 100%;
    height: 344px;
    border-radius: var(--border-radius);
    background-color: red;
    overflow: hidden;
}

.card-component-2 p{
    font-size: 24px;
    font-weight: var(--font-medium);
}
/*-============================================================================================- */




/* HOME SECTION ===============================================================================- */

.home{
    padding-top: 8rem;
}

.home-container{
    gap: var(--gap-5);
}

.home-content-container{
    gap: var(--gap-1);
    max-width: 715px;
}

.home-subtitle{
    font-weight: var(--font-light);
}

.home-title{
    font-weight: var(--font-medium);
}

.home-frame-2{
    gap: var(--gap-2);
    align-items: center;
}

.home-buttons-container{
    gap: var(--gap-1);
}

.home-button-fill{
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.home-button-outline{
    border: 4px solid var(--text-color-b);
    color: var(--text-color-b);
}

.home-cards-list{
    gap: var(--gap-2);
}
/*-============================================================================================- */

/* ABOUT SECTION ==============================================================================- */
.about-container{
    gap: var(--gap-5);
}

.about-frame-one{
    gap: var(--gap-2);
    max-width: 515px;
}

.about-button-fill{
    background-color: var(--text-color-b);
    color: var(--text-color-w);
    margin-top: 2rem;
}

.about-frame-two{
    gap: var(--gap-2);
    max-width: 528px;
}

.about-img-one,
.about-img-two{
    max-width: 528px;
}

.about-img-one{
    height: 192px;
}

.about-img-two{
    height: 384px;
}
/*-============================================================================================- */

/* SERVICES SECTION ===========================================================================- */
.services-container{
    gap: var(--gap-4);
}

.services-swiper{
    display: flex;
    overflow: hidden;
}

.services-cta{
    position: relative;
    margin-top: var(--gap-5);
    width: 100%;
    height: max-content;
    padding: var(--gap-5) 0;
    display: flex;
    align-items: center;
    color: var(--text-color-w);
    min-height: 288px;
}

.services-cta img{
    z-index: -1;
    -webkit-filter: brightness(50%);
}

.services-cta-list{
    row-gap: var(--gap-4);
    column-gap: var(--gap-2);
}

.services-cta-list-item{
    width: 252px;
    height: 128px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 92px;
}

.services-cta-list-item::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 133px;
    height: 100%;
    background-color: #f5f0ed81;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* z-index: 0; */
    border-radius: var(--border-radius);
}

.services-cta-list-item h3{
    font-weight: var(--font-semi-bold);
    z-index: 2;
}

.services-cta-list-item p{
    font-weight: var(--font-light);
    z-index: 2;
}
/*-============================================================================================- */

/* PROJECTS SECTION ===========================================================================- */
.projects-container{
    gap: var(--gap-1);
    justify-content: center;
    align-items: center;
}

.projects-title,
.projects-subtitle{
    text-align: center;
}

.project-selection-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);
    justify-content: center;
    align-items: center;
    max-width: 473px;
    margin: var(--gap-3) 0;
    width: 100%;
}

.project-selection-item{
    cursor: pointer;
}

.project-selection-item.active-featured p{
    font-weight: var(--font-semi-bold);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--mar-1);
    color: var(--text-color-w);
    /* transition: all .4s ease-out; */
}

.project-card-container{
    gap: var(--gap-2);
    width: 100%;
}
/*-============================================================================================- */

/* GALLERY SECTION ============================================================================- */
.gallery-swiper{
    margin-top: var(--gap-4);
    max-width: 1080px;
}

.gallery-card{
    transition: all .4s ease-in-out;
}

.gallery-card .img-container{
    height: 448px;
    width: 100%;
}

.gallery-buttons-container{
    display: flex;
    gap: var(--gap-2);
    margin-top: var(--gap-3);
    align-items: center;
    justify-content: center;
}

.gallery-buttons-container button{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--text-color-b);
    border-radius: 8px;
}

.gallery-buttons-container button i{
    font-size: var(--icon-size);
}
/*-============================================================================================- */







@media screen and (min-width: 1440px){

    .home-cards-list{
        grid-template-columns: repeat(3, 1fr);
    }

    .about-container{
        justify-content: space-between;
    }

    .about-frame-one{
        margin-top: var(--gap-5);
    }

    .about-img-one,
    .about-img-two{
        width: 526px;
    }

    .project-card-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-card.swiper-slide-active{
        width: 528px !important;
    }

    .gallery-card.swiper-slide-next,
    .gallery-card.swiper-slide-prev{
        width: 252px !important;
    }
}