
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --primary-color: #1FCB89;
    --accent-color: #79E1BA;
    --text-color: #0E1B16;
    --container-color: #237253;
    --body-color: #F8FCFA;
    /* ================= */
    /* == FONT & TYPOGRAPHY == */
    --body-font: "Poppins", sans-serif;;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

    /* ================= */

    /* =========Z INDEX======== */
    --z-fixed: 10;
    --border-radius: 2rem;
    /* ================= */

}


/* -=================================================================- */

/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1{
    font-size: var(--h1-font-size);	
}

h2{
    font-size: var(--h2-font-size);	
}

h3{
    font-size: var(--h3-font-size);	
}

h4{
    font-size: var(--h4-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* -================================= REUSABLE CSS CLASSES ================================- */
.container{
    max-width: 968px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding: 0 0 7rem;
    overflow-x: hidden;
}

.section-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

/* -======= BUTTONS ========- */
.button{
    height: 64px;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.button-primary{
    background-color: var(--primary-color);
}

.button-primary h4,
.button-secondary h4{
    font-weight: var(--font-bold);
    color: var(--body-color);
}

.button-secondary{
    background-color: transparent;
    border: 4px solid var(--accent-color);
}
/* -=================================================================- */

/* -================================= HEADER & NAVIGATION ================================- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding: 1rem 0;
    width: 100%;
}

.nav-list{
    display: flex;
    position: relative;
}

.nav-list-item a{
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: var(--h4-font-size);
    font-weight: var(--font-regular);
}

.nav-list.show-nav{
    right: 0;
}

.nav-toggle-btn.rotate{
    color: var(--text-color);
    transform: rotate(0.5turn);
}

.nav-list-item:nth-child(6){
    width: 240px;
    height: 64px;
    background-color: var(--primary-color);
    display: grid;
    place-items: center;
    margin-top: 5rem;
    color: var(--body-color);
    border-radius: var(--border-radius);
}

/* ADD BLUR TO HEADER */
.blur-header{
    background-color: var(--body-color);
    box-shadow: 4px 4px 8px 4px #0e1b1620;
    transition: all .4s ease-in-out;
}

.nav-list-item .active-link{
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.nav-list-item:nth-child(6) .nav-button{
    color: var(--text-color-b);
    font-weight: var(--font-bold);
}

.nav-logo img{
    width: 64px;
}

/* -================================= MOBILE NAVIGATION CSS ================================- */
@media screen and (max-width: 1023px){

    .header{
        padding: 1rem 0;
    }

    .nav-list{
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 3rem;
        background-color: var(--body-color);
        padding: 10rem 2rem;
        right: -100%;
        top: 0;
        transition: right .5s;
        width: 100%;
        border-radius: var(--border-radius);
    }

    .nav-toggle-btn{
        position: absolute;
        top: 1rem;
        right: 2rem;
        height: 32px;
        width: 32px;
        display: grid;
        place-items: center;
        transition: .35s;
        z-index: var(--z-fixed);
    }

    .nav-toggle-btn i{
        font-size: var(--icon-size);
        color: var(--text-color-w);
    }

}

/* -================================= DESKTOP NAVIGATION CSS ================================- */
@media screen and (min-width: 1023px){


    .nav-toggle-btn{
        display: none;
    }

    .navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list{
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    .nav-list-item a{
        font-size: var(--normal-font-size);
        font-weight: var(--font-regular);
    }

    .nav-list-item:nth-child(6){
        width: 128px;
        height: 48px;
        margin-top: 0;
        margin-left: 6rem;
        border-radius: var(--border-radius);
        background-color: var(--text-color);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        color: var(--body-color);
    }
    
}
/* -======================================================================================- */


/* -================================= HOME SECTION ================================- */
.home{
    padding-top: 15rem;
    color: var(--body-color);
}

.home-container{
    gap: 1rem;
}

.home-subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.home-title{
    font-size: var(--h1-font-size);
}

.home-title span{
    background: linear-gradient(90deg, #79E1BA, #1FCB89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-description{
    font-weight: var(--font-medium);
}

.home-buttons-container{
    gap: 1rem;
}

.home-button{
    height: 64px;
    width: 307px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
}

.home-button h4{
    color: var(--body-color);
}

.home-button-call{
    height: 64px;
    width: 64px;
    display: grid;
    place-items: center;
    background-color: #f8fcfa7a;
    border: 4px solid var(--body-color);
    border-radius: 50%;
}

.home-button-call i{
    font-size: var(--icon-size);
    color: var(--body-color);
}

.home-background-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
/* -============================================================================- */


/* -================================= ABOUT SECTION ================================- */
.about{
    padding-top: 7rem;
}

.about-container{
    gap: 3rem;
}

.about-container-one{
    gap: 2rem;
}

.about-title-one span{
    color: var(--primary-color);
}

.about-image-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
    justify-content: space-between; 
}

.about-image-one-container img,
.about-image-two-container img{
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-image-one-container{
    max-width: 469px;
    height: 352px;
}

.about-image-two-container{
    max-width: 243px;
    height: 227px;
    position: relative;
}

.about-image-two-container::after{
    position: absolute;
    content: '';
    height: 32px;
    width: 32px;
    background-color: var(--accent-color);
    border-radius: 50%;
    top: -4rem;
    left: 0;
}

.about-container-two{
    gap: 1rem;
}

.about-subtitle{
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.about-title span{
    background: linear-gradient(90deg, #79E1BA, #1FCB89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-description{
    margin-bottom: 1rem;
}

.about-buttons-container{
    gap: 1.5rem;
}

.about-button-one{
    width: 192px;
    height: 48px;
    background-color: var(--text-color);
    border-radius: var(--border-radius);
    display: grid;
    place-items: center;
}

.about-button-one p{
    font-weight: var(--font-bold);
    color: var(--body-color);
}

.about-button-two{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.about-button-two i{
    font-size: var(--icon-size);
    color: var(--primary-color);
}

.about-button-two p{
    font-weight: var(--font-bold);
    color: var(--text-color);
}
/* -============================================================================- */


/* -================================= SERVICES SECTION ================================- */
.services-container{
    gap: 3rem;
}

.services-title span{
    background: linear-gradient(90deg, #79E1BA, #1FCB89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-list-container{
    gap: 2rem;
}

.services-list-item{
    max-width: 400px;
    height: 96px;
    background-color: transparent;
    border-radius: 96px;
    transition: ease-out .4s;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.service-item-icon{
    height: 48px;
    width: 48px;
}

.services-list-item p{
    position: relative;
}

.services-list-item p::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 0;
    background-color: var(--accent-color);
    left: 0;
    bottom: -.5rem;
    transition: all .4s;
    border-radius: var(--border-radius);
}

.services-list-item:hover{
    box-shadow: 4px 4px 8px 4px #0e1b1620;
}

.service-list-item:hover p{
    font-weight: var(--font-bold);
}

.services-list-item:hover p::after {
    width: 100%;
}

.services-container-three{
    gap: 2rem;
}

.services-title-alt{
    text-align: center;
}

.services-container-three .flex-column{
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-three-icon{
    height: 64px;
    width: 64px;
}
/* -============================================================================- */


/* -================================= REVIEWS SECTION ================================- */
.review{
    padding-top: 7rem;
}
.review-subtitle,
.review-title{
    color: var(--body-color);
    text-align: center;
}

.review-title{
    margin-bottom: 2rem;
}

.review-title span{
    color: var(--primary-color);
}

.client-review-card{
    width: 320px;
    height: 320px;
    background-color: var(--body-color);
    border-radius: var(--border-radius);
    gap: 1rem;
    padding: 4rem 2rem;
    justify-content: center;
}

.client-review-title{
    font-weight: var(--font-bold);
}

.client-review{
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.review-stars-container{
    display: flex;
    gap: .5rem;
}

.review-client-info{
    display: flex;
    gap: .25rem;
    align-items: center;
}

.review-buttons-container{
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.review-prev,
.review-next{
    height: 48px;
    width: 48px;
    display: grid;
    place-items: center;
    border-radius: var(--border-radius);
}

.review-prev i,
.review-next i{
    font-size: var(--icon-size);
}

.review-prev{
    background-color: var(--body-color);
}

.review-prev i{
    color: var(--text-color);
}

.review-next{
    background-color: var(--accent-color);
}

.review-next i{
    color: var(--body-color);
}

.review-background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
/* -============================================================================- */

/* -================================= PRICING SECTION ================================- */
.pricing{
    padding-top: 7rem;
}

.pricing-container{
    justify-content: center;
}

.pricing-title,
.pricing-subtitle{
    text-align: center;
}

.pricing-title{
    margin-bottom: 1rem;
}

.pricing-title span{
    color: var(--primary-color);
}

.pricing-subtitle{
    font-weight: var(--font-medium);
}

.pricing-selector-container{
    width: 250px;
    height: 32px;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
}

.pricing-selector-description{
    font-weight: var(--font-medium);
}

.pricing-selector{
    position: relative;
    height: 32px;
    width: 64px;
    background-color: #eaeaea;
    border-radius: var(--border-radius);
    transition: all .4s ease-in-out;
}

.pricing-toggle{
    height: 32px;
    width: 32px;
    background-color: #79E1BA;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;
}

.pricing-toggle.activated{
    left: 50%;
    background-color: var(--primary-color);
}

.pricing-cards-container{
    gap: 2rem;
}

.pricing-card{
    max-width: 608px;
    height: 608px;
    padding: 6rem 1rem;
    gap: 32px;
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: var(--border-radius);
}

.pricing-card-subtitle{
    font-weight: var(--font-medium);
}

.pricing-card-subtitle span{
    font-weight: var(--font-bold);
}

.pricing-card-price span{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.weekly-price,
.bi-weekly-price{
    font-size: var(--h2-font-size);
}

.weekly-price span,
.bi-weekly-price span{
    font-size: var(--normal-font-size);
}
.pricing-card-button{
    height: 48px;
    width: 100%;
    background-color: var(--text-color);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius);
}

.pricing-card-button p{
    font-weight: var(--font-bold);
    color: var(--body-color);
}

.pricing-card-list{
    gap: 1rem;
}

.pricing-card-item{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.check{
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
}

.check i{
    font-size: var(--icon-size);
}

.pricing-cards-container .pricing-card:nth-child(2){
    background-color: var(--primary-color);
    color: var(--body-color);
    border: none;
}

.pricing-cards-container .pricing-card:nth-child(2) .pricing-card-button{
    background-color: var(--body-color);
}

.pricing-cards-container .pricing-card:nth-child(2) .pricing-card-button p{
    color: var(--text-color);
}
/* -=========================================================================- */



/* -================================= CSS BREAKPOINTS ================================- */
/* -==== For medium devices ====- */
@media screen and (min-width: 700px){
    .home-buttons-container{
        flex-direction: row;
    }

    .about-container-two{
        max-width: 550px;
    }

    .about-buttons-container{
        flex-direction: row;
    }

    .services-list-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .services-container-three{
        justify-content: center;
        flex-direction: row;
    }

    .container-three-description{
        text-align: center;
    }

    .pricing-cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -==== For medium - large devices ====- */
@media screen and (min-width: 1024px){

    /* REUSABLE CSS CLASSES */
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    .responsive-container{
        flex-direction: row;
    }

    .services-list-container{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 2rem;
    }

    .pricing-cards-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* -==================================================================================- */
