@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* -=================================================================- */
/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --primary-color: #AE44D5;
    --accent-color: #4717F7;
    --text-color-w: #E9DFE0;
    --text-color-b: #0E0A18;
    --container-color: #3a207b;
    --body-color-b: #0E0A18;
    --body-color-w: #E9DFE0;
    /* ================= */

    /* == MAIN COLORS ALT == */
    /* --primary-color: #4717F7;
    --accent-color: #A43ACB;
    --text-color-w: #ECF3EF;
    --text-color-b: #030705;
    --container-color: #1A132C;
    --body-color-b: #030705;
    --body-color-w: #ECF3EF; */


    /* == FONT & TYPOGRAPHY == */
    --body-font: 'Montserrat', sans-serif;
    --title-font: 'Montserrat', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --normal-font-size: 1rem;
    --small-font-size: .833em;

    --icon-size: 2rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ================= */

    /* =========Z INDEX======== */
    --z-fixed: 10;
    --border-radius: 1rem;
    /* ================= */

}


/* -=================================================================- */

/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color-b);
    color: var(--text-color-w);
}

h1{
    font-size: var(--h1-font-size);	
}

h2{
    font-size: var(--h2-font-size);	
}

h3{
    font-size: var(--h3-font-size);	
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* -================================= REUSABLE CSS CLASSES ================================- */
.container{
    max-width: 968px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding: 0 0 10rem;
    overflow-x: hidden;
}

.section-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.section-subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.description{
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

/* -======= BUTTONS ========- */
.button-primary{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 2px solid var(--primary-color);
}

.button-primary i{
    font-size: var(--icon-size);
    color: var(--text-color-w);
}

/* -=================================================================- */

/* -================================= HEADER & NAVIGATION ================================- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    padding: 2rem 0;
    width: 100%;
    height: max-content;
    /* overflow: hidden; */
}

.nav-list{
    display: flex;
}

.nav-list-item a{
    color: var(--text-color-w);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.active-link{
    color: var(--accent-color);
}

.nav-list.show-nav{
    right: 2rem;
}

.nav-toggle-btn.rotate{
    transform: rotate(45deg);
}

.active-link{
    color: var(--accent-color);
}

/* -================================= MOBILE NAVIGATION CSS ================================- */
@media screen and (max-width: 1023px){

    .nav-list{
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        gap: 4rem;
        background-color: #0e0a18ad;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        padding: 3rem 2rem;
        top: 7rem;
        right: -100%;
        transition: right .5s;
        width: 250px;
        border-radius: var(--border-radius);
        border: 2px solid var(--text-color-w);
    }

    .nav-toggle-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 48px;
        width: 48px;
        display: grid;
        place-items: center;
        background-color: #0e0a18ad;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 2px solid var(--text-color-w);
        border-radius: 50%;
        padding: .2rem;
        transition: .3s;
    }

    .nav-toggle-btn i{
        font-size: var(--icon-size);
    }

}

/* -================================= DESKTOP NAVIGATION CSS ================================- */
@media screen and (min-width: 1023px){

    .nav-toggle-btn{
        display: none;
    }

    .navigation{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-list{
        gap: 2rem;
        width: max-content;
        height: max-content;
        background-color: #0e0a18ad;
        /* border: 2px solid var(--accent-color); */
        border-radius: 100vw;
        padding: 1.5rem 4rem;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    .nav-list-item a{
        font-size: var(--small-font-size);
    }

    .nav-list-item a{
        font-weight: var(--font-regular);
    }
    
}
/* -======================================================================================- */


/* -================================= HOME SECTION ================================- */
.home{
    padding-top: 13rem;
    position: relative;
    overflow: hidden;
}

.logo-container{
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 100px;
}

.logo-container img{
    width: 100%;
    height: 100%;
}

.home-contact-btn{
    display: none;
}

.home-container{
    display: flex;
    flex-direction: column;
}

.home-top-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 23rem;
}

.home-title{
    font-size: 5rem;
    font-weight: var(--font-regular);
}

.home-title span{
    color: var(--text-color-w);
    font-weight: var(--font-bold);
    /* color: transparent; */
  -webkit-text-stroke: 3px var(--accent-color); /* Width and color of the stroke for WebKit browsers (Chrome, Safari) */
}

.home-description{
    font-weight: var(--font-semi-bold);
}

.home-info-bottom{
    gap: 2rem;
    box-sizing: border-box;
}

.home-info-1,
.home-info-2{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home-info-2{
    overflow-x: hidden;
}

.home-subtitle span{
    color: var(--accent-color);
}

.home-info-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-info-description{
    font-weight: var(--font-light);
}

.home-info-email,
.home-info-phone{
    font-weight: var(--font-medium);
}

.home-img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-background-img{
    position: absolute;
    height: 150%;
    width: 100%;
    object-fit: cover;
}
/* -============================================================================- */


/* -================================= ABOUT SECTION ================================- */
.about{
    background-color: var(--body-color-w);
    color: var(--text-color-w);
    border-radius: 3rem 3rem 0 0;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.about-cards-container{
    gap: 3rem;
}

.about-card{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: var(--text-color-b);
}

.about-card-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-card-header{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-card-number{
    font-weight: var(--font-light);
}

.about-card-number span{
    color: var(--container-color);
}

.about-card-title{
    font-weight: var(--font-medium);
}

.about-card-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 4rem;
}

.about-card-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-card-list-description p{
    font-weight: var(--font-regular);
}

.about-card-line{
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--body-color-b);
}
/* -============================================================================- */


/* -================================= PROJECTS SECTION ================================- */
.projects{
    background-color: var(--body-color-w);
    color: var(--text-color-b);
    border-radius: 0 0 3rem 3rem;
}

.projects-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-title span{
    color: var(--container-color);
}

.projects-list-container{
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.projects-list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* .projects-list-item:hover{
    background-color: var(--container-color);
    border-radius: var(--border-radius);
    transition: ease all .3s;
    color: var(--text-color-w);
} */

.projects-item-button{
    /* width: 100%; */
    height: max-content;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-b);
    border: 4px solid var(--container-color);
    border-radius: var(--border-radius);
}
/* -============================================================================- */


/* -================================= SERVICES SECTION ================================- */
.services{
    padding-top: 6rem;
    border-radius: 0 0 3rem 3rem;
    background-color: #000000;

}

.services-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-motion{
    font-style: italic;
    color: var(--accent-color);
}

.services-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: max-content;
    border-radius: var(--border-radius);
    padding: 2rem;
    width: 250px;
}

.services-button p{
    font-weight: var(--font-bold);
    color: var(--text-color-w);
}

.services-button i{
    display: none;
}

.services-cards-container{
    gap: 2rem;
    z-index: 4;
}

.services-card{
    position: relative;
    gap: 2rem;
    padding: 10rem 2rem 2rem 2rem;
    background-color: var(--accent-color);
    color: var(--text-color-b);
    border-radius: var(--border-radius);
}

.services-card-icon-container{
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.services-card-title{
    color: var(--text-color-w);
    font-weight: var(--font-semi-bold);
}

.services-cards-container .services-card:nth-child(4){
    background-color: var(--primary-color);
}

.services-bkgr{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 30%;
    width: 100%;
    z-index: 0;
    border-radius: 0 0 3rem 3rem;
}
/* -============================================================================- */

/* -================================= CONTACT SECTION ================================- */
.contact{
    position: relative;
    top: -2rem;
    padding-top: 8rem;
    padding-bottom: 0;
    overflow: hidden;
}
.contact-container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.contact-container-1{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}

.contact-title{
    font-weight: var(--font-bold);
}

.contact-title span{
    color: var(--primary-color);
}

.contact-subtitle{
    font-weight: var(--font-regular);
}

.contact-info-email,
.contact-info-number{
    font-weight: var(--font-semi-bold);
}

.contact-form{
    background-color: var(--body-color-w);
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    height: max-content;
    color: var(--text-color-b);
    gap: 2rem;
}

.contact-form-group{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.contact-form-group label{
    font-size: var(--normal-font-size);
}

.contact-form-text{
    color: var(--text-color-b);
    font-family: var(--body-font);
    font-weight: var(--font-regular);
    padding: 1.5rem 1rem;
}

.contact-form-text::placeholder{
    color: #6A6A6A;
}

input,
textarea{
    width: 100%;
    border: none;
    border: 3px solid var(--container-color);
    background-color: transparent;
    border-radius: var(--border-radius);
}

.contact-img-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    z-index: -2;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--h3-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-bold);
    background-color: var(--accent-color);
    color: var(--text-color-w);
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem 4rem;
    margin-top: 3rem;
    width: max-content;
}

.align-self{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* -=========================================================================- */

/* -================================= FOOTER SECTION ================================- */
.footer{
    margin-top: 8rem;
    padding: 0;
}

.footer-container{
    position: relative;
    background-color: #0e0a1886;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2rem 2rem 0 0;
    padding: 7rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--text-color-w);
}

.footer-logo{
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.footer-description{
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    color: #d2d2d2;
}

.footer-description i{
    font-size: 1rem;
}

.footer-links-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.footer-link a{
    font-size: var(--normal-font-size);
    color: var(--text-color-w);
    font-weight: var(--font-medium);
}

.footer-info-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-info{
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
}
/* -=========================================================================- */





/* -================================= CSS BREAKPOINTS ================================- */

/* -==== For medium devices ====- */
@media screen and (min-width: 700px){

    /* HOME SECTION */
    .home-info-bottom{
        grid-template-columns: repeat(2, 1fr);
    }

    /* PROJECTS SECTION */
    .projects-list-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* SERVICES SECTION */
    .services-header{
        max-width: 50%;
    }

    .services-cards-container{
        grid-template-columns: repeat(2,1fr);
    }

    /* CONTACT SECTION */
    .contact-container{
        align-items: center;
        justify-content: center;
    }
    .contact-form{
        width: 450px;
    }
}

/* -==== For medium - large devices ====- */
@media screen and (min-width: 1024px){

    /* REUSABLE CSS CLASSES */
    .container{
        margin-right: auto;
        margin-left: auto;
    }

    /* HOME SECTION */
    .logo-container{
        left: 4rem;
    }

    /* .contact-btn-container{
        position: absolute;
        top: 3rem;
        right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .home-contact-btn{
        display: block;
        position: absolute;
        top: 3rem;
        right: 2rem;
        padding: 1rem 2rem;
        border-radius: var(--border-radius);
        background-color: var(--accent-color);
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--text-color-w);
        z-index: 10;
    }

    /* ABOUT SECTION */
    .about-card-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .about-card-header{
        align-items: initial;
    }

    .about-card-info{
        max-width: 50%;
        padding-left: 0;
    }

    /* PROJECTS SECTION */
    .projects-list-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    /* SERVICES SECTION */

    .services{
        position: sticky;
        top: -2rem;
    }

    .services-container{
        flex-direction: row;
        align-items: center;
    }

    .services-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        gap: 2rem;
        padding: 0;
        width: max-content;
    }

    .services-button div{
        content: '';
        width: 48px;
        height: 48px;
        display: grid;
        place-items: center;
        background-color: transparent;
        border: 2px solid var(--primary-color);
        border-radius: 50%;
    }

    .services-button i{
        display: contents;
        font-size: var(--icon-size);
        color: var(--text-color-w);
    }

    /* CONTACT SECTION */
    .contact{
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 3rem 3rem 0 0 ;
    }
    .contact-container{
        flex-direction: row;
    }

    .contact-container-1{
        text-align: initial;
        width: 50%;
    }

    /* FOOTER SECTION */
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

}
/* -==================================================================================- */
