
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/* -=================================================================- */
/* -================================= VARIABLE CSS ================================- */
:root{

    /* == MAIN COLORS == */
    --body-color-dark: #000000;
    --text-color-dark: #FFFFFF;
    --text-color-alt-dark: #7A7A7A;
    --container-color-dark: #1A1A1A;
    /* ================= */
    /* == FONT & TYPOGRAPHY == */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.7rem;
    --big-font-size: 2.5rem;
    --title-font-size: 2.3rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1.15rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ================= */
    /* =========Z INDEX======== */
    --z-fixed: 10;
    /* ================= */

    --radius: .5rem;
}

/* == RESPONSIVE FONT & TYPOGRAPHY == */
@media screen and (min-width: 1024px) {
    :root {
      --biggest-font-size: 4rem;
      --big-font-size: 3.2rem;
      --title-size: 2.7rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1.15rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }


/* -================================= BASE ================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color-dark);
    color: var(--text-color-dark);
    /* position: relative; */
    padding: 1.5rem 2.5rem 5rem 2.5rem;
    height: 100vh;
}

h1, h2, h3{
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.grid{
    display: grid;
}

.background-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    z-index: -1;
    height: 300px;
    width: 300px;
}

/* -================================= HEADER ================================- */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: var(--radius);
}

.header__username{
    font-size: 1rem;
    color: var(--text-color-alt-dark);
    font-weight: var(--font-semi-bold);
}

.header__direction{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}

.direction__arrow{
    color: red;
}

.direction__indicatior{
    font-weight: var(--font-semi-bold);
}

.header__info{
    display: flex;
    align-items: center;
    gap: .7rem;
    width: max-content;
}

.header__info p{
    color: var(--text-color-dark);
    font-weight: var(--font-regular);
    font-size: .8rem;
}

.system__symbol{
    font-size: .8rem;
    color: var(--text-color-dark);
}

.header__date{
    display: flex;
    align-items: center;
    gap: .3rem;
}

.header__date p{
    font-weight: var(--font-light);
    font-size: .8rem;
    color: var(--text-color-dark);
}

/* -================================= NAVIGATION ================================- */
.navigation{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: max-content;
    background-color: var(--container-color-dark);
    border-radius: var(--radius);
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button-icon{
    height: 30px;
    width: 45px;
}

/* -================================= MAIN VIEW ================================- */
.main-view{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    gap: 2rem;
    height: 100%;
    box-sizing: border-box;
}

.container-left,
.container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
    width: 100%;
}

.driving-info{
    display: flex;
    align-items: center;
    width: 100%;
}

.tachometer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}

.mph{
    font-size: 3.5rem;
    font-weight: var(--font-bold);
    color: var(--text-color-alt-dark);
}

.mph__word{
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: var(--text-color-dark);
}

.driving-stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.driving-stats-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.gas__indicator,
.temp__indicatior{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.driving-stats-icon,
.temp__indicator{
    font-size: 1.5rem;
}

.temp__guage{
    width: 75px;
    height: 7px;
    background-color: var(--container-color-dark);
    border-radius: var(--radius);
    position: relative;
}

.temp__guage::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 35%;
    height: 7px;
    background-color: var(--text-color-dark);
    border-radius: var(--radius);
}

.car-image{
    width: 300px;
}

.drive__select{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.drive-mode{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color-alt-dark);
}

.drive-mode span{
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}

.active{
    color: var(--text-color-dark);
}

.now-playing-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    background-color: rgba(26, 26, 26, 0.6);
    width: 100%;
    height: max-content;
    border-radius: var(--radius);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.now-playing-image{
    width: 100%;
}

.album-image{
    border-radius: var(--radius);
}

.now-playing-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.now-playing-heading{
    font-size: .6rem;
    font-weight: var(--font-regular);
}

.song-name{
    font-size: 1rem;
    font-weight: var(--font-semi-bold);
}

.song-artist{
    font-size: .7rem;
    font-weight: var(--font-medium);
}

.song-controls{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.song-control-icon{
    color: var(--text-color-dark);
    font-size: 2rem;
}

.song-length{
    width: 100%;
    height: 7px;
    background-color: var(--container-color-dark);
    border-radius: var(--radius);
    position: relative;
}

.song-length::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: var(--text-color-dark);
    border-radius: var(--radius);
}

.hvac-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    width: 100%;
    padding: 1rem;
    background-color: rgba(26, 26, 26, 0.6);
    border-radius: var(--radius);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.line{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--text-color-alt-dark);
    border-radius: var(--radius);
}

.hvac-temp{
    display: flex;
    align-items: center;
}

.hvac-icon{
    height: 2rem;
    width: 2.8rem;
}

.hvac-temp-read{
    font-weight: var(--font-semi-bold);
    font-size: 1rem;
}

.hvan-sync p{
    font-size: .7rem;
}

.hvac-adjust{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hvac-adjust i{
    font-size: 2rem;
}